* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.aseprite binary
*.ttf binary
*.otf binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.dll binary
*.so binary
*.dylib binary
